/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto:wght@300&display=swap'); */

 
  /* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap'); */



  /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital@0;1&display=swap'); */


  /* <style> */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@100;400&display=swap');
/* </style> */


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; ;
  
}
.hello{
  font-weight: 100;
  /* font-style: italic; */
  /* margin: 150px; */
}
.para{
  font-weight: 400;
  /* margin: 200px; */
}

.full-page-containers{
    width:100%;
    /* height:1000vh; */
   
}
.Aboutus-first-header-section{
    position:fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height:100px;
    width:100%;
    z-index: 10;
    background-color:#FFFFFF ;
}

.Aboutuslogo-icon{
    width:200px;
    height:100px;
    /* color:red; */
    /* margin:10px; */
    object-fit: contain;
   
    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding:20px; */
}

.flexbox-container{
    display:flex;
    flex-direction: column;
    gap:50px;
    justify-content: center;
    align-items: center;

}


.card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  /* border:1px solid black; */
  /* transition: 0.3s; */
  width: 50%;
 
}
p{
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  text-align: center;
  color:#5e5e5e
}
.card-container{
  width: 100%;
  border:1px solid black;
  margin-top: 50px;
}


.cards {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  /* border:1px solid black; */
  /* transition: 0.3s; */
  width: 90%;
  margin-top: 110px;
}




.card:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  background-color: #FFFFFF !important;
}
.cards:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  background-color: #FFFFFF !important;
}


.container {
  text-align: center;
  /* padding: 2px 16px; */
}

.container-twos{
  display:flex;
  flex-direction: row;
  gap:20px;
}

.container-twos{
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.container-threes{
  display:flex;
  flex-direction: row;
  gap:20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.heading-tag{
  letter-spacing:2px;
  font-size: 12px;

}
.card-heading-section{
  /* margin-top: 10px; */
}

@media screen and (min-width: 480px){

  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* transition: 0.3s; */
    /* width: 50%; */
  }


  .cards {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* border:1px solid black; */
    /* transition: 0.3s; */
    /* width: 50%; */
    /* margin-top: 110px; */
  }


  .card-container{
    width: 90%;
    border:1px solid black;
    margin-top: 20px;
  }

  .card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    background-color: #FFFFFF !important;
  }
  .cards:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    background-color: #FFFFFF !important;
  }
  
  
}




.card-container-section-top{
  margin-top:110px ;
}



.copyright-text{
  letter-spacing: 2px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
  color:#595959;
}